.body {
  font-family: "Kumbh Sans", sans-serif;
}

.app {
  position: relative;
}

.app.disabled {
  pointer-events: none;
}

.app.disabled::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100000;
  width: 100%;
  -webkit-box-shadow: 84px 300px 0px 419px rgba(0, 0, 0, 0.75);
  box-shadow: 84px 300px 0px 419px rgba(0, 0, 0, 0.75);
  pointer-events: none;
}

header {
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
  padding: 25px 0;
}
@media (max-width: 576px) {
  header {
    padding: 10px;
    border: none;
  }
}
@media (max-width: 576px) {
  header span.close {
    pointer-events: all;
    display: block !important;
    font-weight: bolder;
    font-size: 22px;
    color: hsl(219deg, 9%, 45%);
    z-index: 99999;
  }
  header .first .tags {
    background: url(../imgs/icon-menu.svg);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 15px;
    cursor: pointer;
  }
  header .first .tags.active {
    width: 200px;
    height: 100%;
    z-index: 999;
    background: white;
    margin: 0;
    position: absolute !important;
    left: 0;
    top: 0;
    -webkit-box-shadow: 84px 300px 0px 419px rgba(0, 0, 0, 0.75);
    box-shadow: 84px 300px 0px 419px rgba(0, 0, 0, 0.75);
    pointer-events: none;
  }
  header .first .tags.active .tag {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px 20px;
    font-weight: bold;
    color: black;
  }
  header .first .tags.active .tag:first-child {
    margin-top: 80px;
  }
}

.first .tags .tag {
  margin: 0 12px;
  color: hsl(219deg, 9%, 45%);
  font-weight: 500;
  cursor: pointer;
}

.tag::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -38px;
  width: 0;
  height: 4px;
  background-color: hsl(26deg, 100%, 55%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.tag:hover {
  color: hsl(0deg, 0%, 0%) !important;
}

.tag:hover::before {
  width: 100%;
}

@media (max-width: 576px) {
  .first .tags .tag {
    display: none !important;
  }
}
.second .picture img {
  width: 50px;
  cursor: pointer;
}
.second .picture img:hover {
  outline: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 576px) {
  .second .picture img {
    width: 25px;
  }
}
.second .cart {
  cursor: pointer;
  position: relative;
}
.second .cart .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: hsl(26deg, 100%, 55%);
  color: white;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 16px;
  border-radius: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.second .cart.open .content {
  display: block !important;
  width: 330px;
  height: 250px;
  background-color: hsl(0deg, 0%, 100%);
  position: absolute;
  height: 250px;
  overflow-y: auto;
  z-index: 9999;
  left: -200px;
  top: 50px;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.second .cart.open .content .sneaker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(219deg, 9%, 45%);
}
.second .cart.open .content .sneaker > img {
  margin-left: 15px;
  width: 50px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.second .cart.open .content .sneaker .s-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: hsl(219deg, 9%, 45%);
}
.second .cart.open .content .sneaker .s-price p {
  margin: 0;
  margin-left: 15px;
  width: 210px;
}
.second .cart.open .content .sneaker .s-price .price {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.second .cart.open .content .sneaker .s-price .price .amount {
  margin-left: 5px;
}
.second .cart.open .content .sneaker .s-price .price .total {
  color: hsl(220deg, 13%, 13%);
  font-weight: 500;
  margin-left: 10px;
}
.second .cart.open .content .sneaker .s-price .price .delete img {
  width: 15px;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}
.second .cart.open .content .checkout {
  padding-bottom: 20px;
  width: 250px;
  padding: 14px;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
.second .cart.open .content.empty .message-empty {
  color: hsl(219deg, 9%, 45%);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-top: 75px;
}
.second .cart.open .content span {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  padding: 0px 20px 20px;
  display: block;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}

.main {
  margin-top: 50px;
}
@media (max-width: 576px) {
  .main {
    margin: 0;
  }
}
.main .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 550px;
}
@media (max-width: 576px) {
  .main .product {
    width: 100%;
  }
}
.main .main-img img {
  cursor: pointer;
  width: 340px;
  height: 320px;
  margin-bottom: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media (max-width: 576px) {
  .main .main-img img {
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
    overflow: hidden;
  }
}
.main .imgs .holder {
  margin: 0 10px;
  position: relative;
}
.main .imgs .holder:hover::before {
  content: "";
  background-color: white;
  opacity: 45%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  cursor: pointer;
}
.main .imgs .holder.active::before {
  content: "";
  left: 0;
  top: 0;
  background-color: white;
  opacity: 45%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  cursor: pointer;
}
.main .imgs .holder.active {
  border: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 8px;
  background-color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.main .imgs img {
  cursor: pointer;
  width: 70px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.details {
  margin-top: 20px;
  width: 400px;
}
@media (max-width: 576px) {
  .details {
    margin: 10px 0 0 0;
  }
}
@media (max-width: 991px) {
  .details {
    width: 300px;
    margin-left: 30px;
  }
}
.details > span {
  color: hsl(26deg, 100%, 55%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.details h3 {
  font-size: 30px;
  font-weight: bold;
}
.details p {
  color: hsl(219deg, 9%, 45%);
  font-weight: 400;
}
.details .price {
  margin-bottom: 40px;
}
.details .price span:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.details .price span:nth-child(1)::before {
  content: "$250.00";
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 16px;
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
}
@media (max-width: 576px) {
  .details .price span:nth-child(1) {
    position: unset;
  }
  .details .price span:nth-child(1)::before {
    bottom: -190px;
    left: 90%;
  }
}
.details .price span:nth-child(2) {
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .details .buying {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.details .buying .amount {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: hsl(223deg, 64%, 98%);
  width: 150px;
  padding: 15px;
  font-weight: bold;
  border-radius: 8px;
  margin-right: 5px;
}
@media (max-width: 576px) {
  .details .buying .amount {
    width: 100%;
    margin-bottom: 10px;
    margin-right: -15px;
  }
}
.details .buying .amount .minus,
.details .buying .amount .plus {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.details .buying .amount .minus.disabled,
.details .buying .amount .plus.disabled {
  opacity: 50%;
  pointer-events: none;
}
.details .buying .add {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(26deg, 100%, 55%);
  color: white;
  width: 300px;
  padding: 15px;
  border-radius: 8px;
  margin-left: 15px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: 18px;
}
.details .buying .add:hover::before {
  top: 0;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0deg, 0%, 100%);
  opacity: 40%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 576px) {
  .details .buying .add {
    width: 100%;
    margin-bottom: 10px;
  }
}
.details .buying .add svg {
  color: white;
  margin-right: 15px;
}

.product.light-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 550px;
  pointer-events: all;
  position: absolute;
  z-index: 9999999999999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 576px) {
  .product.light-box {
    width: 100%;
  }
}
.product.light-box .main-img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.product.light-box .main-img .main-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product.light-box .main-img .after,
.product.light-box .main-img .before {
  position: absolute;
  top: 50%;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 0%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 20px;
}
.product.light-box .main-img .after:hover,
.product.light-box .main-img .before:hover {
  color: hsl(26deg, 100%, 55%);
}
.product.light-box .main-img .after {
  right: -20px;
}
.product.light-box .main-img .before {
  left: -20px;
}
.product.light-box .main-img .after.disable,
.product.light-box .main-img .before.disable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  opacity: 70%;
}
.product.light-box .main-img .close {
  color: hsl(26deg, 100%, 55%);
  cursor: pointer;
  font-size: 23px;
  position: absolute;
  top: -45px;
  right: 3px;
}
.product.light-box .main-img img.active {
  width: 340px;
  height: 320px;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product.light-box .main-img img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  cursor: pointer;
  width: 100%;
  height: 320px;
  margin-bottom: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media (max-width: 576px) {
  .product.light-box .main-img img {
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
    overflow: hidden;
  }
}
.product.light-box .imgs {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product.light-box .imgs .holder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 10px;
  position: relative;
}
.product.light-box .imgs .holder:hover::before {
  content: "";
  background-color: white;
  opacity: 45%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.product.light-box .imgs .holder.active::before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  content: "";
  left: 0;
  top: 0;
  background-color: white;
  opacity: 45%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  cursor: pointer;
}
.product.light-box .imgs .holder.active {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 8px;
  background-color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.product.light-box .imgs img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 70px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
