.body {
  font-family: "Kumbh Sans", sans-serif;
}

header {
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
  padding: 25px 0;
}
@media (max-width: 576px) {
  header {
    padding: 10px;
    border: none;
  }
}
@media (max-width: 576px) {
  header span.close {
    pointer-events: all;
    display: block !important;
    font-weight: bolder;
    font-size: 22px;
    color: hsl(219deg, 9%, 45%);
    z-index: 99999;
  }
  header .first .tags {
    background: url(../imgs/icon-menu.svg);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 15px;
    cursor: pointer;
  }
  header .first .tags.active {
    width: 200px;
    height: 100%;
    z-index: 999;
    background: white;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 61px 0px 0px 160px rgba(0, 0, 0, 0.75);
    pointer-events: none;
  }
  header .first .tags.active .tag {
    display: flex !important;
    flex-direction: column;
    margin: 20px 20px;
    font-weight: bold;
    color: black;
  }
  header .first .tags.active .tag:first-child {
    margin-top: 80px;
  }
}

.first .tags .tag {
  margin: 0 12px;
  color: hsl(219deg, 9%, 45%);
  font-weight: 500;
  cursor: pointer;
}

.tag::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -38px;
  width: 0;
  height: 4px;
  background-color: hsl(26deg, 100%, 55%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.tag:hover {
  color: hsl(0deg, 0%, 0%) !important;
}

.tag:hover::before {
  width: 100%;
}

@media (max-width: 576px) {
  .first .tags .tag {
    display: none !important;
  }
}
.second .picture img {
  width: 50px;
  cursor: pointer;
}
.second .picture img:hover {
  border: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 576px) {
  .second .picture img {
    width: 25px;
  }
}
.second .cart {
  cursor: pointer;
}
.second .cart .count {
  display: flex;
  position: absolute;
  background-color: hsl(26deg, 100%, 55%);
  color: white;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 16px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.main {
  margin-top: 50px;
}
@media (max-width: 576px) {
  .main {
    margin: 0;
  }
}
.main .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 550px;
}
@media (max-width: 576px) {
  .main .product {
    width: 100%;
  }
}
.main .main-img img {
  cursor: pointer;
  width: 340px;
  height: 320px;
  margin-bottom: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media (max-width: 576px) {
  .main .main-img img {
    transform: scaleX(1.5);
    overflow: hidden;
  }
}
.main .imgs img {
  cursor: pointer;
  width: 70px;
  margin: 0 10px;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.main .imgs img::before {
  content: "";
  left: 0;
  top: 0;
  background-color: white;
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}
.main .imgs img.active {
  border: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 8px;
  background-color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.details {
  margin-top: 20px;
  width: 400px;
}
@media (max-width: 576px) {
  .details {
    margin: 10px 0 0 0;
  }
}
.details > span {
  color: hsl(26deg, 100%, 55%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.details h3 {
  font-size: 30px;
  font-weight: bold;
}
.details p {
  color: hsl(219deg, 9%, 45%);
  font-weight: 400;
}
.details .price {
  margin-bottom: 40px;
}
.details .price span:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.details .price span:nth-child(1)::before {
  content: "$250.00";
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 16px;
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
}
@media (max-width: 576px) {
  .details .price span:nth-child(1) {
    position: unset;
  }
  .details .price span:nth-child(1)::before {
    bottom: -190px;
    left: 90%;
  }
}
.details .price span:nth-child(2) {
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  width: 50px;
  display: flex;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .details .buying {
    flex-direction: column;
  }
}
.details .buying .amount {
  background-color: hsl(223deg, 64%, 98%);
  width: 150px;
  padding: 15px;
  font-weight: bold;
  border-radius: 8px;
  margin-right: 5px;
}
@media (max-width: 576px) {
  .details .buying .amount {
    width: 100%;
    margin-bottom: 10px;
    margin-right: -15px;
  }
  .details .buying .amount .minus,
  .details .buying .amount .plus {
    cursor: pointer;
  }
}
.details .buying .add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(26deg, 100%, 55%);
  color: white;
  width: 300px;
  padding: 15px;
  border-radius: 8px;
  margin-left: 15px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 576px) {
  .details .buying .add {
    width: 100%;
    margin-bottom: 10px;
  }
}
.details .buying .add svg {
  color: white;
  margin-right: 15px;
}/*# sourceMappingURL=main.css.map */